* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
/*Farve definationer*/
:root { 
    --red: #c7352a;
    --gul: rgba(243, 236, 134, 0.847);
    /* --gul: #f3ec86; */
    --lilla: #ded7ff;
    --background: #f3f5dd;
    --contrastbackground:#DDDFC7;
    --dark: #3d0200;
}

/*Body styling*/
body{
  background-color: var(--background);
}


/*Font styling*/
h3{
  display: flex;
  color: var(--dark);
  font-family: "Alef", sans-serif;
}

h4{
  display: flex;
  color: var(--dark);
  font-family: "Alef", sans-serif;
  margin-bottom: 2%;
}

p{
  color: var(--dark);
  font-family: "Alef", sans-serif;
  font-size: 0.8em;
}

/*Rød stor font - bliver brugt x4*/
.alefred{
  color: var(--red);
  font-size: 2.5em;
  font-family: "Alef", sans-serif;
}

/*Almindelig font mørk*/
.alefdark{
color: var(--dark);
font-family: "Alef", sans-serif;
}

/*gennemgående knapper*/
.alefdarkknap{
  color: var(--dark);
  font-family: "Alef", sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid var(--red);
  margin-top: 7%;
  margin-bottom: 7%;
}

/*Håndskrevet font - citater*/
.annielille{
color: var(--dark);
font-size: 1.5em;
font-family: "Annie Use Your Telescope", cursive;
}

/*Håndskrevet font - overskrifter*/
.anniestor{
color: var(--dark);
font-size: 2em;
font-family: "Annie Use Your Telescope", cursive;
}

/* Navbar */
.logo img {
  width: 100px;
  height: auto;
}

nav {
  background-color: var(--contrastbackground);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 0;
  z-index: 100;
  overflow-x: auto;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10px;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark);
  font-family: "Alef", sans-serif;
  font-size: 1.1rem;
}

.hideOnMobile nav a {
  color: var(--red);
}

nav a:hover {
  border-radius: 10px;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: var(--gul);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 170px;
  gap: 20px;
  z-index: 200;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  color: var(--dark);
}

.menu-button {
  display: none;
}

.krys {
  position: absolute;
  left: 140px;
  top: 40px;
}

.kigop {
  position: absolute;
  bottom: 0;
  width: 250px;
  right: 10px;
}

.bue1{
  position: absolute;
  top: 135px;

}

.bue2{
  position: absolute;
  top: 270px;
}


/* Mobil Media Queries */
@media (max-width: 800px) {
  .hideOnMobile {
      display: none;
  }
  .menu-button {
      display: block;
      font-size: 2em;
  }
  .sidebar {
      display: flex;
      display: none;
      gap: 100px;
      align-content: center;
      width: 100%;
  }

  .sidebar a {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: var(--red);
    font-size: 2.3em;
  }

  .uller{
    display: flex;
    flex-direction: column;
    gap: 100px;
    text-align: center;
  }

}


/*Menukort*/
  /* Menukort */
  #menucard {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  #morewordsmenu {
    margin-block-start: 0;
    margin-block-end: 1em;
    margin-top: 170%;
  }

  #tekstmenu {
    line-height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-size: 1.7em;
  }

  #menusandwich {
    display: grid;
    grid-template-columns: 10% 1% 67% 20%;
    grid-row-gap: 50px;
    margin-left: 2%;
    margin-right: 2%;
  }

  #menusandwich li {
    gap: 50px;
  }

  #prismenu {
    font-size: 2em;
    margin-bottom: 5%;
    font-weight: 600;
    font-family: "Annie Use Your Telescope", cursive;
  }

  #menukortsandwichimg, #menukortkaffeimg {
    width: 70%;
    grid-column-start: 1;
    grid-column-end: 7;
    justify-self: center;
  }


  #bestilknapmenu{
    width: 40%;
   padding-top: 2%;
   padding-bottom: 2%;
   font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  #andimg {
    position: relative;
    margin-top: 600px;
  }

  #andimg h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 3.7em;
    z-index: 0;
  }

  #andimg img {
    position: absolute;
    width: 200px;
    z-index: 1;
    top: 65%;
    left: 60%;
    transform: translateX(-50%);
  }

  /*Styling af tekst lodret tekst*/
  aside{
    grid-column: 1;
  }

  #lodretskrift, #lodretskrift2, #lodretskrift3{
    transform: rotate(90deg);
    font-size: 2em;
    font-weight: 100;
    margin-top: 20%;
  }
  
  /*lodret linje*/
  hr{
    grid-column: 2;
    background-color: var(--red);
    width: 60%;
    margin-block-start: 0;
    margin-block-end: 0;
    border-width: 0;
  }

  /*Menu elementer styling*/
  #sandwichul, #sodtul, #drikkeul{
    grid-column-start: 3;
    grid-column-end: 5; 
    margin-left: 5%;
  }

  #sandwichul li, #sodtul li, #drikkeul li{
    margin-block-end: 1.5em;
    margin-block-start: 0em;
  }

  .menuitemname{
    font-weight: 400;
  }

  /*Styling af menukort animation*/
  .hidden{
    opacity: 0;
    transform: translateX(+100%);
    transition: all 1.5s;
  }

  .hidden2{
    opacity: 0;
    transform: translateX(+100%);
    transition: all 1.5s;
  }

  .show{
    opacity: 1;
    transform: translateX(0);
  }

/* popud menu */
.menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20000;
  }
  
  .btn {
    display: inline-block;
    margin: 10px;
    color: var(--gul);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transform: rotate(-90deg);
    position: fixed;
    top: 200px;
    right: -80px;
    z-index: 9;
  }

  .sticky {
    position: fixed;
    top: 10px;
    right: 10px;
  }
  
  .open-btn {
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 1.8rem;
    cursor: pointer;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background); /* Semi-transparent overlay */
    z-index: 999;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .main-popup {
    position: absolute;
    height: 100vh; /* Juster højden efter behov */
    width: 100%; /* Juster bredden efter behov */
    z-index: 999; /* Juster z-indekset efter behov */
    padding-top: 300pc;
    background: var(--background);
    padding: 30px 20px;
    line-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: none; /* Fjerner fast maksimal bredde */
    overflow-x: hidden; /* Forhindrer vandret rulning */
    transform: translateX(100%);
}

  
  .popup-overlay {
    background-color: var(--gul);
    height: 100vh;
    width: 100%;
    right: 0;
    position: relative; /* Ændrer position til relativ */
    overflow-x: hidden; /* Forhindrer vandret rulning på overlay */
    max-width: 100%;
  }
  

  .main-popup.slide-in {
    animation: slide-in 0.5s ease forwards;
  }
  
  .main-popup.slide-out {
    animation: slide-out 0.5s ease forwards;
  }
  
  .close-btn {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: .5s ease all;
    z-index: 100;
  }
  
  .popup-content p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  

/*Forside*/
/* video forside */
.forside1 {
  height: 93vh;
  position: relative; /* Tilføjer position: relative; til forældreelementet */
}

.forside-video {
  width: 100%;
  height: 100%; /* Sætter videoens højde til 100% af forældreelementets højde */
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover; /* Sikrer, at videoen fylder hele forældreelementet uden at miste proportioner */
}

@media (max-width: 800px) {
  .forside-video {
    width: 100vh; /* Brug viewportets højde */
    height: 100vw; /* Brug viewportets bredde */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg); /* Ret roteringsværdien */
  }
}

/* scrool pil */

.pil{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pil div{
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 5px solid var(--gul);
  border-right: 5px solid var(--gul);
  transform: rotate(45deg);
  margin: -5px;
  animation: animate 2s infinite;
}

.pil div:nth-child(2){
  animation-delay: -0.2s;
}

.pil div:nth-child(3){
  animation-delay: -0.4s;
}

@keyframes animate{
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* multiwords(dingse)*/
.firexdingse {
  margin-top: 15%;
  margin-left: 35%;
}

/* dingsedame */
.dingseukop {
  width: 60%;
  margin-top: 10%;
}

/* brød på forside */
.brødforside {
  width: 100%;
  height: 100%;
  margin-top: 0;
}

/* midtersection */

.responsivetekst {
  display: none;
}

.midtersection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  margin-top: 8%;
}

/* tekst til midtersection */
.knap {
  border: 2px solid #c7352a; 
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 2px; 
}
.kursivtekst {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

/* billeder på midtersection */
.udefraillustration {
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-bottom: 5%;
}


/* instagram sektion */

.instagram {
  margin-top: 20%;
}

.foelgtekst {
  margin-left: 5%;
}

.foelgbilleder {
display: flex;
justify-content: center;
align-items: center;
width: 60%;
height: 60%;
flex-direction: column;
margin-top: 8%;
}

.billedeserie1 {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
}

.foelgknap {
margin-left: 40%;
margin-top: 10%;
margin-bottom: 10%;
}



/*Kontakt os*/ 


/* Styling af font med ID for at størrelserne passer */

#openhours{
  font-size: 2em;
  display: flex;
  text-align: center;
  justify-content: center;
}

#vibor, #adressekontakt{
  font-size: 2em;
}

/* Styling af tekst + padding */

.kontakt-main {
  display: flex;
  flex-direction: column;
  gap: 2%;
  text-align: center;
}

/* Styling af billeder på kontakt siden */

.coverbillede {
  height: 40vh;
  position: relative;
}

.coverkontakt {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
}

.kort-kontakt {
  width: 100%;
  height: auto;
}

/* Tilføjet padding for at give luft mellem teksten på siden. Tilføjet i % for at være responsiv */
.kontakt-sektion {
  padding: 5%;
}

.adresse-kontakt {
  padding: 5%;
  text-align: center;
}

.telefon-nummer-kontakt {
  padding: 5%;
}
.telefon-nummer-kontakt h2 {
  margin-bottom: 3%;
}

/* Styling af ring tekst + dingsedame med telefon. Da dette er en lidt anden styling end en colum bruges inline grid */

.ringx4container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5%;
  margin: auto;
  box-sizing: border-box;
  width: fit-content;
}

.ringx4 {
  text-align: center;
  padding: 5%;
  background-color: var(--background);
}

.dingsetelefon {
  width: auto;
  height: 35vh;
}

.foelgknap1 {
  margin-top: 10%;
  margin-bottom: 10%;
  }

 
/*Bag om Dingse*/

/* Styling af første del af bagom */
.bagom1{
  display: grid;
}

.bagom1 h1 {
  text-align: center;
  padding: 5%; 
}

.bagom1 p {
  padding: 5%;
  text-align: justify;
}

/* Styler så billedet er 100% på telefon */
.bagom1 img{
  width: 100%;
}

.read-more img{
  width: 100%;
}

/* Styler søren og olivia teksten til mobil */
.bagom-ordx4 {
  padding: 5% 3%;
  margin-left: 20px;
}


/* Bag om undersider */

.read-more {
  margin: 60px 0;
}

.faqer {
  margin-bottom: 15%;
  margin-left: 10%;
  margin-right: 10%;
}

.read-more-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.text {
  background-color: var(--background);
  width: 50%;
  color: #FFFFFF;
  padding: 20px;
  box-sizing: border-box;
  line-height: 2rem;
}

.img {
  background-color: var(--background);
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.fold_reply {
  display: flex;
  cursor: pointer; 
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: -84%;
  margin-top: -10%;
}

.fold_btn, .fold_btn1 {
  padding: 5px 10px;
  margin: 10px 0;
  background-color: var(--contrastbackground);
  color: var(--dark);
  font-family: "Alef", sans-serif;
  text-align: center;
  cursor: pointer;
  width: 8em;
}

<<<<<<< HEAD
.fold_btn1 {
  margin-left: 90% ;
}


=======
.lille-pil {
  height: 10px;
  width: 10px;
}

>>>>>>> 811590d91509be6bd3b14a98bc4aaddd5cd21811
.reply {
  display: none; /* Hide the reply content initially */
  background-color: var(--gul);
  opacity: 0.5;
}

/* Styling af fold ud siderne */

.content {
  display: none;
  overflow: hidden;
}
/* Styler alle p i "content" fold ud sektionerne */
.content p {
  margin: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
.content h4 {
  margin: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.surdej5 {
  object-fit: cover;
  height: 30vh;
  width: 35vh;
}
.smagsvarianter {
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  object-fit: cover;
  height: 10vh;
  width: 10vh;
}

.galleri {
  padding: 5%;
}

/*Footer*/
footer {
  background-color: #DDDFC7; 
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.8rem;
  color: #3d0200;
  width: 100%;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
}

.info-container1,
.info-container2 {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.besøg {
  margin-bottom: 5%;
}

.icon {
  width: 3rem;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 1rem; 
  margin-right: 1rem; 
}

/* Gallery section styling */
.galleri {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2em 1em;
  margin-bottom: 5%;
  margin-top: -5%;
}

#galleri_tekst {
  display: flex;
  align-items: center;
  justify-content: center;
}

#galleri_tekst1 {
  margin-bottom: 3%;
}

.insta-container {
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
  margin-top: -8%;
  margin-left: 6%;
  margin-right: 63%;
}

.instaicon {
  width: 7%;
  height: auto;
  margin-left: 1%;
}

/* <div class="insta-container">
<h4 class="annielille">“Del dine bedste dingse oplevelser. Vi elsker, at følge med i jeres bedste nye madoplevelser"</h4>
<h4 class="annielille"> #dingsefriskbagt</h4>
<img src="/img/icon/instagram.png" alt="instaicon" class="instaicon">
</div> */

/* Image container styling */
.foto-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em; /* Add space between images */
  justify-content: center;
}

/* Mobile image styling */
.fotomobil {
  max-width: 100%;
  height: auto;
}

.fotodesktop {
  width: 60%;
  height: auto;
}

/* Hide desktop image by default */
.fotodesktop {
  display: none;
}

/* ************************************************ */

/*Media Querey Computer*/


/* Vi har stylet alt vores CSS mobile first og tilføjet media querys til desktop efter */

/* STYLING AF FONT TIL COMPUTER */

@media (min-width: 700px) {
    /*Font styling*/
    h3{
      display: flex;
      color: var(--dark);
      font-family: "Alef", sans-serif;
    }

    h4{
      display: flex;
      color: var(--dark);
      font-family: "Alef", sans-serif;
    }

    p{
      color: var(--dark);
      font-family: "Alef", sans-serif;
      font-size: 1.2em;
    }

    /*Rød stor font - bliver brugt x4*/
    .alefred{
      color: var(--red);
      font-size: 4em;
      font-family: "Alef", sans-serif;
    }

    .anniestor {
      color: var(--dark);
      font-size: 2.3em;
      font-family: "Annie Use Your Telescope", cursive;
    }
  }

/* Menukort */
@media (min-width: 400px) {
  #andimg{
    margin-top: 230%;
  }

}

@media (min-width: 525px) {
 
  #morewordsmenu{
    margin-top: 190%;
    font-size: 130%;
  }

  #andimg img{
    width: 270px;
    top: 70%;
  }

  #sandwichul, #sodtul, #drikkeul{
    font-size: 150%;
    line-height: 130%;
  }

  #lodretskrift, #lodretskrift2, #lodretskrift3{
    font-size: 300%;
  }
}

@media (min-width: 700px) {
  #andimg img{
    top: 65%;
    width: 300px;
  }

  #andimg h3 {
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  #morewordsmenu{
    margin-top: 130%;
    font-size: 150%;
  }

  #lodretskrift, #lodretskrift2, #lodretskrift3{
    margin-top: 36%;
  }

  #tekstmenu {
    font-size: 2.2em;
  }

 
 h3{
    display: flex;
    color: var(--dark);
    font-family: "Alef", sans-serif;
    font-size: 2em;
  }
    
}

@media (min-width: 1000px) {
  #andimg img{
    top: 67%;
    width: 300px;
  }

  #morewordsmenu {
    margin-top: 180%;
  }
}

@media (min-width: 1500px) {
  #andimg img{
    top: 57%;
    width: 300px;
  }

  #morewordsmenu {
    margin-top: 100%;
  }
}

@media(min-width: 800px) {
  
  .main-popup {
    /* Dine stilarter for computere */
    max-width: 50%; /* Begræns popupens bredde til halvdelen af skærmen */
    width: 100%; /* Juster bredden efter behov */
    height: 100vh; /* Juster højden efter behov */
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup-overlay {
    background-color: var(--gul);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow-x: auto; /* Ændret fra "hidden" til "auto" */
  }
  
  #andimg img{
    width: 320px;
    top: 70%;
  }

  #andimg h3 {
    font-size: 4em;
  }
  
  #morewordsmenu{
    margin-top: 200%;
  }

/******** forside *******/
.multiwords{
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  margin-top: 5%;
}

  #lodretskrift, #lodretskrift2, #lodretskrift3{
    font-size: 300%;
  }

  #sandwichul, #sodtul, #drikkeul{
    font-size: 150%;
    line-height: 130%;
  }
  
  /* forside */
  .multiwords{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
  }

  .firexdingse {
    margin-top: 25%;
  }

  .baggrunddingse {
    background-color: #c7352a;
  }

  /* dingsedame */
  .dingseukop {
    width: 60%;
  }

  .brødforside {
    object-fit: cover;
    height: 600px;
    width: 100%;
  }

  /* midtersection */
  #responsivetekst {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22%;
    margin-right: 20%;
    text-align: justify;
  }

  #responsivetekst1 {
  display: none;
  }

  .midtersection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 5%;
  }

  .alefdarkknap {
    margin-top: 5%;
  }

  /* tekst til midtersection */
  .knap {
    border: 2px solid #c7352a; 
    padding-bottom: 2px; 
  }

  /* billeder på midtersection */
  .udefraillustration {
    width: 50%;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  /* instagram sektion */

  .instagram {
    margin-top: 10%;
  }

  .foelgtekst {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .foelgbilleder {
  display: flex;
  object-fit: cover;
  width: 380px;
  height: 380px;
  }

  .kursivtekst{
    margin-left: 23%;
    margin-right: 21%;
    text-align: center;
  }

  .billedeserie1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  }

  .foelgknap {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-left: 0%;
  }

  /******** kontakt os *******/
  #openhours {
    font-size: 3rem;
  }

  .dingsetelefon {
    width: 130%;
    height: 100%;
  }

  .ringx4 {
    margin-top: 35%;
  }

  .ringx4container {
  width: 70%;
  height: 70%;
  }

  .adresse-kontakt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .kort-kontakt {
    width: 55%;
  }

  .telefon-nummer-kontakt {
    margin-left: 15%;
    margin-right: 15%;
  }

/******** kontakt os *******/

.coverbillede {
  height: 60vh;
  position: relative;
}

.coverkontakt {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
}

#openhours {
  font-size: 3rem;
}

.dingsetelefon {
  width: 130%;
  height: 100%;
}

.ringx4 {
  margin-top: 35%;
}

.ringx4container {
width: 70%;
height: 70%;
}

.adresse-kontakt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.kort-kontakt {
  width: 55%;
}

.telefon-nummer-kontakt {
  margin-left: 15%;
  margin-right: 15%;
}
}
/******** Bag Om *******/

@media (min-width: 700px) {

/* **** Styling af første del af bagom - Søren og olivia billede + tekst **** */
  .bagom1 {
    display: grid;
  }

  #mere {
    padding-left: 1%;
    padding-bottom: 3%;
  }
  
  .bagom-ordx4 {
    justify-self: center;
    align-self: center;
  }

  .bagom1 h1 {
    text-align: center;
    padding-top: 2%; 
    padding-bottom: 1%;
  }
  .bagom1 p {
    padding: 2%;
  }

  /*  Styles med en anden class for at få korrekt opsætning */

.bagom1-desktop{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bagom1 h1 {
  justify-self: center;
  align-self: center;
}

/* Styling af billedet af søren og olivia, billedet croppes til desktop*/
.bagom1 img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: top;
}

.fotomobil {
  display: none;
}
.fotodesktop {
  display: block;
}
}

@media (min-width: 1100px){
  #andimg img{
    width: 320px;
    top: 70%;
  }

  #andimg h3 {
    font-size: 4em;
  }
  
  #morewordsmenu{
    margin-top: 200%;
  }
}
  
