* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
/*Farve definationer*/
:root { 
    --red: #c7352a;
    --gul: rgba(243, 236, 134, 0.847);
    /* --gul: #f3ec86; */
    --lilla: #ded7ff;
    --background: #f3f5dd;
    --contrastbackground:#DDDFC7;
    --dark: #3d0200;
}

/*Body styling*/
body{
  background-color: var(--background);
}


/*Font styling*/

/*Rød stor font - bliver brugt x4*/
h3{
  display: flex;
}
.alefred{
color: var(--red);
font-size: 3em;
font-family: "Alef", sans-serif;
}


/*Almindelig font mørk*/
.alefdark{
color: var(--dark);
font-family: "Alef", sans-serif;
}

/*Håndskrevet font - citater*/
.annielille{
color: var(--dark);
font-size: 1em;
font-family: "Annie Use Your Telescope", cursive;
}

/*Håndskrevet font - overskrifter*/
.anniestor{
color: var(--dark);
font-size: 1em;
font-family: "Annie Use Your Telescope", cursive;
}

/* Navbar */

  .logo img {
  width: 100px;
  height: auto;
  }
  

  nav{
    background-color: var(--background);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
  }

  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red);
    font-family: "Alef", sans-serif;
    font-size: 2rem;
  }

  .buetekst{
    font-family: "Annie Use Your Telescope", cursive;
    /* position: absolute; */
    top: 50%; /* Placer tekstens top i midten af containeren */
    left: 50%; /* Placer tekstens venstre kant i midten af containeren */
    transform: translate(-50%, -50%) rotate(-90deg); /* Rotér teksten med -90 grader (mod uret) */
    text-align: center; /* Centrer teksten */
    font-size: 30px; /* Juster skriftstørrelsen efter behov */
    white-space: nowrap; /* Forhindre linjeskift for lang tekst */

  }

  .hideOnMobile nav a{
    color: var(--red);
  }

  nav a:hover{
    background-color: var(--lightblue);
    border-radius: 10px;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: var(--gul);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 170px;
    gap: 20px;
  }

  .sidebar li{
    width: 100%;
  }

  .sidebar a{
    width: 100%;
  }

  .menu-button{
    display: none;
  }

  .krys{
    position: absolute;
    left: 140px;
    top: 40px;
  }

  .kigop{
    position: absolute;
    bottom: 0;
    width: 250px;
    right: 10px;
  }

/* Media */

    @media(max-width: 800px){
      .hideOnMobile{
        display: none;
      }
      .menu-button{
        display: block;
        size: 2rem;
      }
    }
    @media(max-width: 800px){
      .sidebar{
        width: 100%;
      }
    }

/*Burgermenu*/

/*Menukort*/
  #menucard{
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  #andimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  #andimg img{
    position: absolute;
    width: 70%;
    top: 5%;
    right: 0;
  }

  #lodretskrift{
    transform: rotate(-90deg);   
  }
  #lodretskrift2{
    transform: rotate(-90deg);   
  }
  #lodretskrift3{
    transform: rotate(-90deg);   
  }

  #menusandwich{
    display: grid;
    grid-template-columns: 50px 340px;
  }

  /* popud menu */
  /* popud menu */
.menu-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20000;
  }
  
  .btn {
    display: inline-block;
    margin: 10px;
    color: var(--dark);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transform: rotate(-90deg);
    position: fixed;
    top: 400px;
    right: -80px;
    z-index: 9;
  }
  
  .btn:hover {
    /* Ændre baggrundsfarven ved hover */
  }
  
  .open-btn {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 2.5rem;
    cursor: pointer;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 999;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .main-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .popup-overlay {
    background-color: rgba(0, 0, 0, 0.575);
    height: 100vh;
    width: 100%;
    position: absolute;
  }
  
  .main-popup {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: var(--background);
    padding: 30px 20px;
    line-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
  }
  
  .main-popup.slide-in {
    animation: slide-in 0.5s ease forwards;
  }
  
  .main-popup.slide-out {
    animation: slide-out 0.5s ease forwards;
  }
  
  .close-btn {
    padding: 10px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    transition: .5s ease all;
  }
  
  .popup-content p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  

/*Forside*/
/* video forside */
.forside-video{
  width: 100%;
  margin-bottom: -6.5%;
}

@media(max-width: 800px){
  .forside-video{
    transform: rotate(90deg);
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }
  
}

/* multiwords(dingse)*/
.multiwords {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 30%;
}

/* dingsedame */
.dingseukop {
  width: 60%;
  margin-top: 10%;
}

/* brød på forside */
.brødforside {
  width: 100%;
  height: 100%;
}

/* midtersection */
.midtersection {

}

/* tekst til midtersection */


/* billeder på midtersection */
.udefraillustration {
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

#billedeserie {
  width: 10%;
  height: 10%;
}

/*Kontakt os*/ 

.kontakt-main {
  background-color: var(--background);
}


/*Bag om Dingse*/


/*Footer*/
footer {
  background-color: #DDDFC7; 
  padding: 1.5rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.8rem;
  color: #3d0200;
  bottom: 0;
}

.info-container1,
.info-container2 {
  list-style-type: none;
  text-align: center;
}

.iconer {
  margin: 3rem;
}

/*Media Quarey Computer*/
