* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
/*Farve definationer*/
:root { 
    --red: #c7352a;
    --gul: #f3ec86;
    --lilla: #ded7ff;
    --background: #f3f5dd;
    --contrastbackground:#DDDFC7;
    --dark: #3d0200;
}

/*Body styling*/
body{
    background-color: var(--background);
}

/*Font styling*/
/*Rød stor font u. serifer*/
.alefstor{
    color: var(--red);
    font-size: 3em;
}


/*Rød mindre font  u. serifer*/
.aleflille{
    color: var(--red);
}

/*Sort font  u. serifer*/
.alefdark{
    color: var(--dark);
}

/*Serif font stor*/
.pratastor{
    color: var(--dark);
}

/*Serif font lille*/
.pratalille{
    color: var(--dark);
}

/* Navbar */

.logo img {
    width: 150px;
    height: auto;
  }
  

  nav{
    background-color: var(--background);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
  }
  nav li{
    height: 100px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--dark);
    font-size: 1.4rem;
  }
  nav a:hover{
    background-color: var(--lightblue);
    border-radius: 10px;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(var(--gul), 0.1);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sidebar li{
    width: 100%;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }

  /* Submenu */
  /* Skjul dropdown-menuen som standard */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Vis dropdown-menuen, når musen er over "Praktisk" */
.dropdown:hover .dropdown-menu {
  display: block;
}

  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
      size: 2rem;
    }
  }
  @media(max-width: 800px){
    .sidebar{
      width: 100%;
    }
  }

/*Burgermenu*/

/*Menukort*/

/*Forside*/

/*Kontakt os*/ 

/*Bag om Dingse*/

/*Media Quarey Computer*/
